Repository NeoSOFT-Technologies/frontend-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "{src,apps,libs,test, pages}/**/*.{js,jsx,ts,tsx}": ["npm run lint"],
  "./**/*.{js,jsx,ts,json,tsx}": ["npm run format"]
}

Fixed the github action workflow
  package-lock.json
  package.json
Due: npm run format

Fixed the github action workflow
  package-lock.json
Due: npm run format

Fixed conflicts
  .github/workflows/ci.yml
Due: none

Fixed conflicts
  package-lock.json
Due: npm run format

next-seo implementation
  README.md
  next-seo.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/next_seo.tsx
  src/components/button/index.spec.tsx
  src/components/examples/counter/index.tsx
  src/components/examples/next-seo-desc/index.tsx
Due: npm run lint, npm run format

Removing test cases added for learning
  src/components/button/index.spec.tsx
Due: npm run lint, npm run format

Resolving errors causing build fail
  pages/_app.tsx
  src/components/examples/axios/index.tsx
  src/components/examples/fetch/index.tsx
  src/components/examples/translate/index.tsx
  test/index.tsx
Due: npm run lint, npm run format

fixed sonarqube config
  sonar-project.properties
Due: none

services changes
  .env
  public/global/css/index.css
  src/App.tsx
  src/pages/login/Login.tsx
  src/services/login.ts
  src/store/login/slice.ts
  src/types/redux/index.ts
Due: npm run lint, npm run format

login page redux and api implementations
  .env
  public/global/mock-data/loginCredentials.json
  src/pages/landing/LandingPage.tsx
  src/pages/landing/landing.scss
  src/pages/login/Login.tsx
  src/services/login.ts
  src/store/index.ts
  src/store/login/slice.ts
  src/types/redux/index.ts
Due: npm run lint, npm run format

login-testcases
  package-lock.json
  package.json
  src/components/header/Header.test.tsx
  src/components/loader/Loader.test.tsx
  src/pages/dashboard/Dashboard.test.tsx
  src/pages/landing/LandingPage.test.tsx
  src/pages/login/Login.test.tsx
  src/pages/login/Login.tsx
  src/resources/testconfig.ts
  src/store/index.ts
  src/store/landing/slice.test.tsx
  src/store/landing/slice.ts
  src/store/login/slice.test.tsx
  src/store/login/slice.ts
  src/utils/error.test.tsx
Due: npm run lint, npm run format

login-testing
  package-lock.json
  package.json
  public/global/mock-data/loginCredentials.json
  src/pages/landing/LandingPage.tsx
  src/pages/login/Login.test.tsx
  src/pages/login/Login.tsx
  src/store/login/slice.test.tsx
Due: npm run lint, npm run format

removing-warning
  .eslintrc.json
Due: npm run format

resolving-errors
  src/pages/login/Login.test.tsx
  src/store/login/slice.test.tsx
Due: npm run lint, npm run format

css lint
  public/global/css/index.css.map
  src/styles/index.scss
Due: none

Merge branch 'feature/login' of https://github.com/NeoSOFT-Technologies/frontend-reactjs into feature/login
  .env
  Dockerfile
  docker-compose.yml
  src/App.tsx
  src/pages/login/Login.tsx
  src/utils/api.ts
Due: npm run lint, npm run format

Auth-guard implementation
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/components/auth-guard/AuthGuard.tsx
  src/components/error/index.tsx
  src/utils/api.ts
Due: npm run lint, npm run format

resolved build error
  src/components/toast-alert/toast-alert.tsx
Due: npm run lint, npm run format

Registration-UI
  src/App.tsx
  src/components/auth-guard/AuthGuard.tsx
  src/pages/registration/Registration.tsx
  src/resources/constants.tsx
Due: npm run lint, npm run format

added env for test staging and production
  .env.production
  .env.staging
  .env.test
Due: none

Testing
  src/pages/registration/Registration.test.tsx
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

removed unwanted wiki
  public/global/css/index.css.map
  public/global/css/layout/fullpage.css.map
  public/global/css/layout/index.css.map
  src/wiki/index.md
  src/wiki/known-issues.md
  src/wiki/setup.md
Due: none

documentation & testing
  public/global/mock-data/loginCredentials.json
  src/App.tsx
  src/pages/error-pages/error.test.tsx
  wiki/env.md
Due: npm run lint, npm run format

ClassWrapper
  src/services/login.ts
  src/utils/api.ts
  wiki/concepts.md
Due: npm run lint, npm run format

removed empty files
  wiki/bootstrap.md
  wiki/index.md
Due: none

testing
  public/global/css/index.css
Due: none

Solving bugs
  public/global/css/index.css
Due: none

resolving errors
  public/global/css/index.css
Due: none

resolving bugs
  .env.production
  .env.staging
  .env.test
  public/global/mock-data/loginCredentials.json
  src/App.tsx
  src/components/error/index.tsx
  src/pages/error-pages/Error401.tsx
  src/pages/error-pages/error.test.tsx
  src/pages/registration/Registration.test.tsx
  src/pages/registration/Registration.tsx
  src/resources/constants.tsx
  src/utils/api.ts
  wiki/Eslint-config-standard.md
  wiki/axios.md
  wiki/compass-mixins.md
  wiki/concepts.md
  wiki/env.md
  wiki/eslint-config-prettier.md
  wiki/eslint-parser.md
  wiki/eslint-plugin-filename-rules.md
  wiki/eslint-plugin-import.md
  wiki/eslint-plugin-jest-dom.md
  wiki/eslint-plugin-node.md
  wiki/eslint-plugin-react.md
  wiki/eslint.md
  wiki/howto.md
  wiki/husky.md
  wiki/index.md
  wiki/prettier.md
  wiki/react-dom.md
  wiki/react-redux.md
  wiki/react-router-dom.md
  wiki/react-scripts.md
  wiki/react-toastify.md
  wiki/redux-mock-store.md
  wiki/redux-toolkit.md
  wiki/sass.md
  wiki/testing.md
  wiki/typescript.md
Due: npm run lint, npm run format

removed fullpage
  src/styles/layout/fullpage.scss
Due: none

bugfixes
  public/global/css/index.css
  src/styles/layout/index.scss
Due: none

index.css changes
  public/global/css/index.css
Due: none

resolved bugs with css
  public/global/css/index.css
  public/global/css/index.css.map
  public/global/css/layout/index.css
  public/global/css/layout/index.css.map
  src/pages/error-pages/Error401.tsx
  src/styles/layout/index.scss
Due: npm run lint, npm run format
