Repository NeoSOFT-Technologies/frontend-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

code smell fixes
  src/components/password-field/PasswordButtons.tsx
Due: npm run lint, npm run format

update workflow
  .github/workflows/ci.yml
Due: none

video for seo,documentation
  README.md
  wiki/howto/axios_mock_adapter_slice.md
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

cypress implemented
  .eslintrc.json
  cypress.json
  cypress/downloads/download.png
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/integration/e2e-spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/pages/landing/LandingPage.test.tsx
  src/pages/landing/LandingPage.tsx
  src/store/login/slice.ts
  tsconfig.json
Due: npm run lint, npm run format

resolved code smells bugs
  .eslintrc.json
  src/components/toast-alert/toast-alert.tsx
  src/pages/landing/LandingPage.test.tsx
  src/pages/login/Login.tsx
Due: npm run lint, npm run format

Code smell bugs
  README.md
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/plugins/index.js
  wiki/features/unit _testcases_codecoverage.png
Due: npm run format

update quality gate badge
  README.md
Due: none

added Images for codeCoverage
  README.md
  wiki/features/E2E_testing.png
  wiki/features/SonarCloud.png
  wiki/features/Unit_testcases.png
  wiki/features/unit _testcases_codecoverage.png
Due: none

code smells
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
Due: npm run format

added metrics.md file
  README.md
  wiki/features/metrics.md
Due: none

changed filestructure
  README.md
  wiki/contribution/bug-reports.md
  wiki/contribution/feature-requests.md
  wiki/contribution/pull-requests.md
  wiki/features/metrics.md
  wiki/images/E2E_testing.png
  wiki/images/Git_Branching_Convention.png
  wiki/images/SonarCloud.png
  wiki/images/Unit_testcases.png
  wiki/images/flowchart.png
  wiki/issues/known-issues.md
  wiki/miscellaneous/git-commits.md
  wiki/miscellaneous/installation-pretteri-husky-lint.md
  wiki/miscellaneous/known-issues.md
  wiki/setup/flowchart.md
  wiki/setup/git_branching_convention.md
  wiki/training/authguard.md
  wiki/training/axios_mock_adapter_slice.md
  wiki/training/create_component.md
  wiki/training/getting_started.md
  wiki/training/redux-toolkit.md
  wiki/training/seo.md
  wiki/training/unit_test_cases_jest.md
Due: none

changed readmefile
  README.md
Due: none

increased codecoverage
  src/pages/login/Login.test.tsx
  src/pages/registration/Registration.test.tsx
  wiki/images/Unit_testcases.png
Due: npm run lint, npm run format

added reviewchecklist
  wiki/features/reviewcheck.md
Due: none

react js trainings
  wiki/trainings/react-js.md
Due: none

Css file additions
  src/pages/error-pages/Error401.tsx
  src/pages/error-pages/error-page.scss
  src/pages/login/Login.scss
  src/pages/login/Login.tsx
  src/pages/registration/Registration.scss
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

lint changes
  src/pages/error-pages/error-page.scss
  src/pages/login/Login.scss
  src/pages/registration/Registration.scss
Due: none

registration scss
  src/pages/registration/Registration.scss
Due: none

lint
  src/pages/registration/Registration.scss
Due: none

Update README.md
  README.md
Due: none

plop implementation
  package.json
  plopfile.js
  templates/react-component.hbs
  templates/slice.hbs
Due: npm run format

plop implementation
  wiki/features/reviewcheck.md
Due: none

resolved codesmells
  plopfile.js
  src/pages/login/Login.test.tsx
  src/pages/registration/Registration.test.tsx
Due: npm run lint, npm run format

solved bugs
  src/pages/login/Login.test.tsx
  src/pages/registration/Registration.test.tsx
Due: npm run lint, npm run format

plop
  package.json
  tailwind.config.js
  wiki/npm_modules/plop.md
Due: npm run format

plop documentation
  wiki/npm_modules/plop.md
Due: none

changed readme
  README.md
  wiki/npm_modules/index.md
Due: none

update training program
  wiki/trainings/react-js.md
Due: none

update react js training program
  wiki/trainings/react-js.md
Due: none

update react js training
  wiki/trainings/react-js.md
Due: none

style folder and sass removal
  package.json
  public/global/css/helpers/color.css
  public/global/css/helpers/color.css.map
  public/global/css/helpers/index.css
  public/global/css/helpers/index.css.map
  public/global/css/helpers/loader.css
  public/global/css/helpers/loader.css.map
  public/global/css/index.css
  public/global/css/index.css.map
  public/global/css/layout/fullpage.css
  public/global/css/layout/fullpage.css.map
  public/global/css/layout/header.css
  public/global/css/layout/header.css.map
  public/global/css/layout/index.css
  public/global/css/layout/index.css.map
  public/global/css/theme/components/roleandpermissions.css
  public/global/css/theme/components/roleandpermissions.css.map
  src/components/loader/Loader.css
  src/components/loader/Loader.tsx
  src/components/password-field/PasswordButton.css
  src/components/password-field/PasswordButtons.tsx
  src/index.tsx
  src/pages/error-pages/Error401.tsx
  src/pages/error-pages/error-page.css
  src/pages/landing/LandingPage.tsx
  src/pages/landing/landing.css
  src/pages/login/Login.css
  src/pages/login/Login.tsx
  src/pages/registration/Registration.css
  src/pages/registration/Registration.tsx
  src/styles/helpers/color.scss
  src/styles/helpers/index.scss
  src/styles/helpers/loader.scss
  src/styles/index.scss
  src/styles/theme/_password.scss
  src/styles/theme/_variables.scss
  src/styles/theme/components/_bootstrap-alerts.scss
  src/styles/theme/mixins/_buttons.scss
Due: npm run lint, npm run format

css addition files
  src/components/loader/Loader.css
  src/components/password-field/PasswordButton.css
Due: none

pipeline fix
  package.json
Due: npm run format

autoprefixer updatetion
  package.json
Due: npm run format

update readme
  README.md
Due: none

update readme
  .github/workflows/ci.yml
Due: none

changed api-factory & service file
  src/services/http-client.ts
  src/services/login.ts
  src/store/login/slice.ts
  src/utils/api-factory.ts
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: {src,apps,libs,test, pages}/**/*.{js,jsx,ts,tsx}
  npm run format: any of: ./**/*.{js,jsx,ts,json,tsx}
