Repository NeoSOFT-Technologies/frontend-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

changed authguard
  src/components/auth-guard/AuthGuard.tsx
  src/services/http-client.ts
  src/store/error.test.tsx
  src/store/error.ts
  src/store/login/slice.ts
Due: npm run lint, npm run format

fixed vulnerabilities
  package.json
Due: npm run format

added testfiles
  package.json
  src/components/auth-guard/AuthGuard.test.tsx
  src/components/header/Header.test.tsx
  src/components/header/Header.tsx
  src/services/http-client/http-client.test.ts
  src/services/http-client/http-client.ts
  src/services/login/login.test.ts
  src/services/login/login.ts
  src/store/error-handler.ts
  src/store/error.test.tsx
  src/store/error.ts
  src/store/login/slice.test.tsx
  src/store/login/slice.ts
Due: npm run lint, npm run format

Update login.ts
  src/services/login/login.ts
Due: npm run lint, npm run format

fixed code smell
  src/services/login/login.ts
Due: npm run lint, npm run format

fixed issues commented in PR
  .eslintrc.json
  src/App.test.tsx
  src/components/auth-guard/AuthGuard.test.tsx
  src/components/auth-guard/AuthGuard.tsx
  src/components/i18n/LanguageChange.test.tsx
  src/components/i18n/LanguageChange.tsx
  src/components/loader/Loader.test.tsx
  src/components/loader/Loader.tsx
  src/components/password-field/Password.test.tsx
  src/pages/error-pages/Error401.tsx
  src/pages/error-pages/error.test.tsx
  src/pages/landing/LandingPage.test.tsx
  src/pages/login/Login.test.tsx
  src/pages/registration/Registration.test.tsx
  src/store/error-handler.ts
  src/store/login/slice.ts
  templates/react-component.hbs
Due: npm run lint, npm run format

removed console.log
  src/components/auth-guard/AuthGuard.tsx
Due: npm run lint, npm run format

added PWA support
  public/favicon.ico
  public/global/images/logo.png
  public/global/images/logo.svg
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/index.tsx
  src/service-worker.ts
Due: npm run lint, npm run format

added file-uploader
  src/App.tsx
  src/components/file-uploader/FileUploader.tsx
Due: npm run lint, npm run format

fixed code smell
  tsconfig.json
Due: npm run format

fixed code smell
  package.json
Due: npm run format

added testing for file-uploader
  src/components/file-uploader/FileUploader.test.tsx
  src/components/file-uploader/FileUploader.tsx
Due: npm run lint, npm run format

added css file
  src/components/file-uploader/FileUploader.css
  src/components/file-uploader/FileUploader.test.tsx
  src/components/file-uploader/FileUploader.tsx
Due: npm run lint, npm run format

fixed Security Hotspot
  src/service-worker.ts
Due: npm run lint, npm run format

implemented file-uploader
  .env
  package.json
  src/App.tsx
  src/components/file-uploader/FileUploader.css
  src/components/file-uploader/FileUploader.tsx
  src/pages/file-uploader/FileUploader.tsx
  src/services/file-uploader/file-uploader.ts
Due: npm run lint, npm run format

implemented testing for file-uploader
  src/App.tsx
  src/components/file-uploader/FileUploader.css
  src/components/file-uploader/FileUploader.tsx
  src/pages/file-uploader/FileUploader.css
  src/pages/file-uploader/FileUploader.test.tsx
  src/pages/file-uploader/FileUploader.tsx
  src/services/file-uploader/file-uploader.test.ts
Due: npm run lint, npm run format

added css file
  src/components/file-upload/FileUpload.css
  src/components/file-upload/FileUpload.test.tsx
  src/components/file-upload/FileUpload.tsx
  src/pages/file-uploader/FileUploader.tsx
Due: npm run lint, npm run format

resolving errors
  .eslintrc.json
  package.json
  public/global/images/removeicon.png
  src/components/file-upload/FileUpload.css
  src/components/file-upload/FileUpload.tsx
  src/pages/file-uploader/FileUploader.css
  src/pages/file-uploader/FileUploader.tsx
  src/resources/constants.ts
  src/serviceWorker.ts
  src/services/file-uploader/file-uploader.ts
Due: npm run lint, npm run format

resolving codesmells
  src/resources/constants.ts
  src/services/file-uploader/file-uploader.test.ts
  src/services/http-client/http-client.ts
Due: npm run lint, npm run format

resolving codesmells
  src/components/file-upload/FileUpload.tsx
Due: npm run lint, npm run format

code smells
  src/components/file-upload/FileUpload.tsx
Due: npm run lint, npm run format

testing
  src/components/file-upload/FileUpload.tsx
Due: npm run lint, npm run format

solving code scanning
  src/components/file-upload/FileUpload.css
  src/components/file-upload/FileUpload.tsx
Due: npm run lint, npm run format

changed fileuploader
  src/components/file-upload/FileUpload.test.tsx
  src/components/file-upload/FileUpload.tsx
  src/pages/file-uploader/FileUploader.tsx
  src/services/file-uploader/file-uploader.test.ts
  src/services/file-uploader/file-uploader.ts
Due: npm run lint, npm run format

added wraperclass props
  src/components/file-upload/FileUpload.tsx
Due: npm run lint, npm run format

changed fileuploader
  src/components/file-upload/FileUpload.tsx
  src/pages/file-uploader/FileUploader.tsx
Due: npm run lint, npm run format

Create pwa.md
  wiki/features/pwa.md
Due: none

added images
  wiki/features/pwa.md
  wiki/images/PWA_LifeCycle.png
  wiki/images/PWA_Workflow.png
Due: none

fixed the roast alert
  package.json
  src/App.tsx
  src/components/password-field/Password.test.tsx
  src/components/toast-alert/toast-alert.tsx
  src/pages/landing/LandingPage.tsx
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

fixed the roast alert
  src/components/file-upload/FileUpload.css
  src/pages/file-uploader/FileUploader.css
Due: none

Update Password.test.tsx
  src/components/password-field/Password.test.tsx
Due: npm run lint, npm run format

fixed lint-error
  src/components/password-field/Password.test.tsx
Due: npm run lint, npm run format

add crypto service
  package.json
  src/services/crypto/crypto.ts
Due: npm run lint, npm run format

converted crypto to class
  config-overrides.js
  package.json
  src/services/crypto/crypto.ts
Due: npm run lint, npm run format

added ployfill for buffer
  package.json
  src/index.tsx
  src/ployfill.js
Due: npm run lint, npm run format

enviornment handling
  .env.production
  .env.staging
  package.json
  public/global/mock-data/loginCredentials.json
Due: npm run format

docs: env_handling documentation
  wiki/features/env.md
Due: none

Path conditions:
  npm run lint: any of: {src,apps,libs,test, pages}/**/*.{js,jsx,ts,tsx}
  npm run format: any of: ./**/*.{js,jsx,ts,json,tsx}
