Repository NeoSOFT-Technologies/frontend-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Resolved sonarcloud bugs
  src/pages/registration/Registration.test.tsx
  src/pages/registration/Registration.tsx
  src/utils/api.ts
Due: npm run lint, npm run format

basic implementation of i18n
  package-lock.json
  package.json
  src/App.tsx
  src/components/i18n/LanguageChange.tsx
  src/i18n/config.js
  src/i18n/locales/en/translations.json
  src/i18n/locales/hi/translations.json
  src/index.tsx
  src/pages/landing/landing.scss
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

lint
  public/global/css/index.css
  src/i18n/locales/en/translations.json
  src/i18n/locales/hi/translations.json
  src/styles/layout/index.scss
Due: npm run format

Merge branch 'main' of https://github.com/NeoSOFT-Technologies/frontend-reactjs into feature/login
  src/i18n/locales/en/translations.json
  src/i18n/locales/hi/translations.json
  src/pages/error-pages/Error401.tsx
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

lint-changes
  src/i18n/locales/en/translations.json
  src/i18n/locales/hi/translations.json
Due: npm run format

local-changes
  public/global/css/index.css
Due: none

ui change
  src/pages/landing/landing.scss
Due: none

Implemented I18n
  package-lock.json
  package.json
  src/App.tsx
  src/components/i18n/LanguageChange.tsx
  src/i18n/config.tsx
  src/i18n/locales/en/translations.json
  src/i18n/locales/hi/translations.json
  src/index.tsx
  src/pages/error-pages/Error401.tsx
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
Due: npm run lint, npm run format

resolved bugs
  src/i18n/config.ts
Due: npm run lint, npm run format

resolving build-error
  package-lock.json
  package.json
Due: npm run format

Added Documentation
  wiki/i18next.md
Due: none

css
  public/global/css/index.css
Due: none

module-list documnetation
  README.md
Due: none

documnetation changes
  wiki/env.md
  wiki/husky.md
  wiki/i18next.md
  wiki/react-redux.md
  wiki/react-scripts.md
  wiki/react-toastify.md
  wiki/redux-mock-store.md
Due: none

resolved synk-error
  package-lock.json
  package.json
Due: npm run format

feature addition
  wiki/features/env.md
  wiki/features/features.md
  wiki/features/sass.md
  wiki/features/testing.md
  wiki/features/typescript.md
  wiki/issues/known-issues.md
  wiki/modules/Eslint-config-standard.md
  wiki/modules/axios.md
  wiki/modules/compass-mixins.md
  wiki/modules/eslint-config-prettier.md
  wiki/modules/eslint-parser.md
  wiki/modules/eslint-plugin-filename-rules.md
  wiki/modules/eslint-plugin-import.md
  wiki/modules/eslint-plugin-jest-dom.md
  wiki/modules/eslint-plugin-node.md
  wiki/modules/eslint-plugin-react.md
  wiki/modules/eslint.md
  wiki/modules/husky.md
  wiki/modules/i18next.md
  wiki/modules/prettier.md
  wiki/modules/react-dom.md
  wiki/modules/react-redux.md
  wiki/modules/react-router-dom.md
  wiki/modules/react-scripts.md
  wiki/modules/react-toastify.md
  wiki/modules/redux-mock-store.md
  wiki/modules/redux-toolkit.md
  wiki/setup.md
  wiki/setup/concepts.md
  wiki/setup/howto.md
Due: none

documnetation testing addition
  wiki/features/features.md
  wiki/testing/axios-mock-adapter.md
  wiki/testing/jest.md
  wiki/testing/redux-mock-store.md
Due: none

link change
  wiki/features/features.md
Due: none

flowchart and branch conventions
  wiki/setup/Git_Branching_Convention.png
  wiki/setup/flowchart.png
Due: none

explore features
  README.md
Due: none

update readme
  README.md
Due: none

testing-i18next components
  src/App.test.tsx
  src/components/i18n/LanguageChange.test.tsx
  src/components/i18n/LanguageChange.tsx
  src/i18n/.dccache
  src/pages/error-pages/error.test.tsx
  src/pages/login/Login.test.tsx
  src/pages/registration/Registration.test.tsx
  src/store/login/slice.test.tsx
Due: npm run lint, npm run format

readme changes
  README.md
Due: none

bugfixes merge
  src/i18n/.dccache
Due: none

SEO implementation
  README.md
  package-lock.json
  package.json
  src/App.tsx
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
  wiki/features/features.md
Due: npm run lint, npm run format

Documentation react-helmet
  README.md
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
  wiki/modules/react-helmet.md
Due: npm run lint, npm run format

documentation changes
  README.md
  wiki/features/features.md
  wiki/howto/authguard.md
  wiki/howto/getting_started.md
  wiki/npm_modules/Eslint-config-standard.md
  wiki/npm_modules/axios.md
  wiki/npm_modules/compass-mixins.md
  wiki/npm_modules/eslint-config-prettier.md
  wiki/npm_modules/eslint-parser.md
  wiki/npm_modules/eslint-plugin-filename-rules.md
  wiki/npm_modules/eslint-plugin-import.md
  wiki/npm_modules/eslint-plugin-jest-dom.md
  wiki/npm_modules/eslint-plugin-node.md
  wiki/npm_modules/eslint-plugin-react.md
  wiki/npm_modules/eslint.md
  wiki/npm_modules/husky.md
  wiki/npm_modules/i18next.md
  wiki/npm_modules/index.md
  wiki/npm_modules/prettier.md
  wiki/npm_modules/react-dom.md
  wiki/npm_modules/react-redux.md
  wiki/npm_modules/react-router-dom.md
  wiki/npm_modules/react-scripts.md
  wiki/npm_modules/react-toastify.md
  wiki/npm_modules/redux-mock-store.md
  wiki/npm_modules/redux-toolkit.md
Due: none

react-helmet documentation
  wiki/npm_modules/index.md
Due: none

documentation changes
  README.md
  wiki/howto/redux-toolkit.md
  wiki/howto/unit_test_cases_jest.md
Due: none

readme
  README.md
Due: none

create component do
  README.md
  wiki/howto/create_component.md
Due: none

seo documentation
  README.md
  wiki/howto/seo.md
Due: none

local storage implementation
  README.md
  src/pages/landing/LandingPage.tsx
  src/store/login/slice.ts
  src/styles/layout/index.scss
Due: npm run lint, npm run format

link changes
  README.md
  src/store/login/slice.ts
  wiki/howto/seo.md
Due: npm run lint, npm run format

update sonar cloud config
  .gitignore
  package-lock.json
  sonar-project.properties
Due: npm run format

update sonar config
  .github/workflows/ci.yml
Due: none

update github workflow
  .github/workflows/ci.yml
Due: none

resolved sonar codesmells
  src/components/password-field/Password.test.tsx
  src/components/password-field/PasswordButtons.tsx
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
  src/services/login.ts
  src/styles/layout/header.scss
  src/styles/layout/index.scss
  src/types/redux/index.ts
  src/utils/api-factory.ts
  src/utils/error.test.tsx
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: {src,apps,libs,test, pages}/**/*.{js,jsx,ts,tsx}
  npm run format: any of: ./**/*.{js,jsx,ts,json,tsx}
